@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
html {
    box-sizing:border-box; 
}
*, *::before, *::after {
    box-sizing:inherit;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-container{
    max-width: 1200px;
    margin: 0;
}
.hidden {
    position:absolute;
    left:-10000px;
    width:1px;
    height:1px;
  }
.side-menu{
  color:#cbb26b;
}
.logo{
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: white;
  font-size: 42px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  font-weight: bolder;
  margin-bottom: 1em;
  color:#cbb26b;
}
.logo:after, .logo:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }
  .logo:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
  }
  .logo:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
  }
  .logo:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .logo:hover:before, .logo:hover:after {
    width: 100%;
    height: 100%;
  }
  
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
body{
    font-family: 'Dosis', sans-serif;
    color:#cbb26b;
    background-color: #2a9d8f;
}
.socialmedia a{
  margin-right:30px;
}
.socialmedia a:hover{
  color:#cbb26b;
  text-shadow: 0 0 5px #cbb26b;

}

a{
    text-decoration:none;
    color:#cbb26b;
}
.menuItem a{
    position: relative; 
    display: block;
    text-align: center;
    line-height: 63px;
    font-size: 30px;
    transition: .5s;
    color:#cbb26b;
  }
  .menuItem a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cbb26b;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }

  .menuItem a:hover::before {
    transform: scale(1);
    box-shadow: 0 0 15px #cbb26b;

  }
  .menuItem a:hover {
    color: #cbb26b;
    text-shadow: 0 0 5px #cbb26b;
  }

button{
    border:#cbb26b solid 1px;
    display: inline-block;
    padding: 10px 25px 10px 25px;
    font-size: 24px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 47%);
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 1em;
}
button a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  button:hover a {
    padding-right: 25px;
  }
  button:hover a:after {
    opacity: 1;
    right: 0;
  }
main h1, h2{
    text-shadow: 2px 2px black ;
}
h1{
  font-size: 52px;
  font-weight: bolder;
}
.threeholder {
    position: relative;
    height:280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
  }
  .threeone {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #363636;
    border-bottom: 15px solid #cbb26b;
    text-align: center;
    transition: all 0.25s;
  }
  .threetwo {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #333333;
    border-bottom: 15px solid #cbb26b;
    transition: all 0.25s;
  }
  .threethree {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #363636;
    border-bottom: 15px solid #cbb26b;
    transition: all 0.25s;
  }
  .threeone:hover {
    background: #cbb26b;
  }
  .threeone:hover .circlepic {
    background: #5c5c5c;
  }
  .threeone:hover .circleborder{
      background: #333333;
  }
  .threeone:hover img{
    fill:#cbb26b;
  }
  .threeholder h4 {
    width: 200px;
    text-align: center;
    font-size: 13px;
    margin-left: -55px;
    font-weight: bold;
    margin-top: 45px;
    text-align: center;
    color: white;
  }
  .threeholder p {
    display: inline-block;
    width:200px;
    text-align: center;
    margin-left: -60px;
    margin-top: 35px;
    font-size: 12px;
    color:#8a8a8a;
    letter-spacing: 1px;
  }
  .threeone:hover h4 {
    color: black;
  }
  .threetwo:hover h4 {
    color: black;
  }
  .threethree:hover h4 {
    color: black;
  }
  .threeone:hover img, .threetwo:hover img, .threethree:hover img {
    transition: all 0.65s;
    transform: rotateY(360deg);
  }
  .threetwo:hover {
    background: #cbb26b;
  }
  .threetwo:hover .circleborder{
      background: #333333;
  }
  .threetwo:hover img{
    fill:#cbb26b;
  }
  .threethree:hover {
    background: #cbb26b;
  }
  .threethree:hover .circleborder{
      background: #333333;
  }
  .threethree:hover img{
    fill:#cbb26b;
  }
  .circleborder {
    /*position: absolute;*/
    /*top: 30px;*/
    /*left: 35%;*/
    width: 100px;
    height: 100px;
    background: #cbb26b;
    /*margin-left: 88.33333px;*/
    margin: 0 auto;
    border-radius: 50%;
    position:relative;
    top: 20px;
    border: 10px solid #5c5c5c;
  }
  
.perspective-text {
    color: white;
    font-family: Arial;
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
  }
  .perspective-line {
    height: 50px;
    overflow: hidden;
    position: relative;
  }
  .perspective-text p {
    margin: 0;
    height: 50px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
  }
  .circleborder p{
      font-weight: bold;
     
  }
  .perspective-text:hover p {
    transform: translate(0, -50px);
  }

  .perspective-line:nth-child(1) {
    left: 29px;
  }

  .perspective-line:nth-child(2) {
    left: 58px;
    background: #f07e6e;
  }

  .perspective-line:nth-child(3) {
    left: 87px;
    background: #84cdfa;
  }

  .perspective-line:nth-child(4) {
    left: 116px;
    background: #5ad1cd;
  }

  .perspective-line:nth-child(5) {
    left: 145px;
  }

 #contact{
  margin-top: 2em;
 }
 

 